section h3 {
	display: flex;
	justify-content: center;
}

body {
	background-color: rgb(216, 178, 255);
	overflow-y: scroll;
}

button {
	font-size: 1em;
	margin-top: 10px;
}

section {
	text-align: center;
}

select {
	border: 2px;
	/*border-color: black;*/
	
}
.order {
	background-color: rgb(255, 107, 34);
	padding: 10px;
	margin-bottom: 4%;
	margin-top: 4%;
	color: white;
}

.menu{
	display: flex;
	justify-content: space-between;
	position: fixed;
	bottom: 2%;
	width: 96%;
}

.nonMenu {
	border: unset;
	margin-top: 3%;
}


.inactive {
	display: none !important;
}


#orders {
	overflow-y: scroll;
}

#loginButton {
	border:unset;
	margin-top: 3%;
}

#small {
	text-decoration-line: underline;
	color: blue;
	font-size: 0.75em;
}